torch
transformers
accelerate
Pillow
matplotlib
sentencepiece
protobuf
sentence-transformers
datasets
torchvision
opencv-python
dill
protobuf
scipy
scikit-learn
pandas
# only for training
deepspeed 
peft
flash_attn
wandb